[Unit]
Description=Delta5 Server
After=multi-user.target

[Service]
WorkingDirectory=/opt/delta5/src/delta5server
ExecStart=/usr/bin/python server.py
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
