[Unit]
Description=Delta5 Server
After=multi-user.target

[Service]
WorkingDirectory=/opt/delta5/src/timingserver
ExecStart=/usr/bin/python server.py

[Install]
WantedBy=multi-user.target
